* {
    margin: 0;
}


.mianform {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;

}

.field{
    width: 100%;
}
.spaceV8 {
    height: 8px;
}

.spaceV24 {
    height: 24px;
}

.alignCenter {
    text-align: center;
}

.container {
    margin: 10%;
    padding: 16px;

}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: auto;

}

.loader {
    width: auto;
    height: 10%;
    margin: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }