<div class="mianform">

    <!-- <mat-form-field class="field" appearance="outline">
        <mat-label>Name</mat-label>
        <input name="name" [(ngModel)]="formData.name" matInput>
    </mat-form-field> -->

    matInput
    <div class="container">
        <mat-card class=" column">
            <mat-form-field appearance="fill">
                <mat-label>UserId</mat-label>
                <input type="text" [(ngModel)]="formData.userId" matInput>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="formData.password" id="password" matInput type="password" maxlength="12"
                    [type]="hide?'password':'text'">
                <mat-icon matSuffix (click)="hide=!hide">{{hide?'visibility_off':'visibility'}}</mat-icon>
            </mat-form-field>

            <button mat-button (click)="submit()">Submit</button>
        </mat-card>

    </div>




</div>