<div class="container-fluid">

    <div class="row justify-content-center m-5 pt-3">
        <div class="spaceV24"></div>
        <div class="spaceV24"></div>
        <div class="spaceV24"></div>
        <div class="spaceV24"></div>

        <div class="row  rounded m-4 p-4 " style="width: 320px;">
            <div class="form ">
                <div class="spaceV8"></div>

                <div class="form-group">

                    <input type="text" [(ngModel)]="formData.userId" class="form-control alignCenter"
                        aria-describedby="user id" placeholder="UserId">
                </div>
                <div class="spaceV8"></div>

                <div class="form-group">
                    <input [(ngModel)]="formData.password" matInput type="password" maxlength="12"
                        [type]="hide?'password':'text'" class="form-control alignCenter" aria-describedby="password"
                        placeholder="Password">
                    <!-- <mat-icon matSuffix (click)="hide=!hide">{{hide?'visibility_off':'visibility'}}</mat-icon> -->
                </div>
                <div class="spaceV8"></div>

                <button (click)="submit()" class="btn bg-primary text-white col-md-12">Submit</button>

                <div class="loader">

                    <div *ngIf="loading" class="spinner-border text-primary d-none">
                    </div>
                </div>
                <div class="spaceV8"></div>

            </div>


            <!-- <mat-form-field>
                <mat-label>Password</mat-label>
                <input [(ngModel)]="formData.password" id="password" matInput type="password" maxlength="12"
                    [type]="hide?'password':'text'">
                <mat-icon matSuffix (click)="hide=!hide">{{hide?'visibility_off':'visibility'}}</mat-icon>
            </mat-form-field>

            <button (click)="submit()" class="btn bg-primary text-white">Submit</button> -->


        </div>
    </div>
</div>


<!-- justify-content-md-center -->