<div class="container">

    <div class="row justify-content-center m-5 pt-3">
        <div></div>

        <div class="" style="width: 360px;">
            <mat-card class="">
                <form>

                    <mat-form-field class="field" appearance="outline">
                        <mat-label>User id</mat-label>
                        <input matInput type="text" id="userId" [(ngModel)]="formData.userId" placeholder="User id"
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field>

                    <mat-form-field class="field" appearance="outline">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [(ngModel)]="formData.password" [type]="hide?'password':'text'"
                            [ngModelOptions]="{standalone: true}">
                        <button mat-icon-button matSuffix (click)="hide=!hide">
                            <mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <button mat-button (click)="submit()" class="field bg-primary text-white mb-3">Submit</button>

                    <div class="loader m-2" *ngIf="loading">

                        <div class="spinner-border text-primary">
                        </div>
                    </div>

                </form>

            </mat-card>


            <!-- <mat-form-field>
                <mat-label>Password</mat-label>
                <input [(ngModel)]="formData.password" id="password" matInput type="password" maxlength="12"
                    [type]="hide?'password':'text'">
                <mat-icon matSuffix (click)="hide=!hide">{{hide?'visibility_off':'visibility'}}</mat-icon>
            </mat-form-field>

            <button (click)="submit()" class="btn bg-primary text-white">Submit</button> -->


        </div>

        <div></div>
    </div>
</div>


<!-- justify-content-md-center -->