<div class="container-fluid">
    <div class="row">
        <div class="row">
            <h1 class="col">Add User</h1>
            <button *ngIf="dialogRef!=undefined" mat-icon-button (click)="close()" color="black" class="col"
                style="width: 30px; height: 30px;">
                <mat-icon>close</mat-icon>
            </button>

        </div>

        <div class="row  justify-content-center m-2 p-2 " style="width: 400px;">
            <form>
                <mat-form-field class="field" appearance="outline">
                    <mat-label>User Id</mat-label>
                    <input matInput type="text" [(ngModel)]="formData.userId" [ngModelOptions]="{standalone:true}">
                </mat-form-field>

                <mat-form-field class="field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" [(ngModel)]="formData.password" placeholder="Password"
                        [ngModelOptions]="{standalone:true}">
                </mat-form-field>

                <mat-form-field class="field" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="text" [(ngModel)]="formData.cPassword" [ngModelOptions]="{standalone:true}"
                        placeholder="Confirm Password">
                </mat-form-field>

                <mat-form-field class="field" appearance="outline">
                    <select matNativeControl [(ngModel)]="formData.role" name="role">
                        <option value="">Select Role</option>
                        <option value="manager">Manager</option>
                        <option value="site_admin">Site Admin</option>
                        <option value="operator">Operator</option>
                    </select>
                </mat-form-field>

                <div class="row">
                    <div class="spaceV16"></div>

                    <button mat-button class="bg-grey text-black border" (click)="clear()">Clear</button>
                    <div class="spaceV8"></div>

                    <button mat-button class="bg-primary text-white" (click)="submit()">Submit</button>

                </div>

                <div class="loader" *ngIf="loading">

                    <div class="spinner-border text-primary">
                    </div>
                </div>

            </form>

        </div>

        <div></div>

    </div>
</div>