<div class="container">
    <h1> User List</h1>
    <div class="container m-4">
        <!-- <button (click)="addItem()">Add Random User</button> -->

        <div class="row-md-12">

            <input type="text" (keyup)="filterItem($event)" aria-describedby="search"
                placeholder="Search by user name only" class="col-md-6 bg-light p-2 ms-3 border border-2 rounded">
            <table style="width: 60%;">
                <tr>
                    <th *ngFor="let item of displayedColumns" class="col">{{item}}</th>
                </tr>
                <tr *ngFor="let item of userList">
                    <td class="colCell" [bgColor]="">{{item.id}}</td>
                    <td class="colCell">{{item.password}}</td>
                    <td class="colCell">{{item.role}}</td>
                    <td class="lastCell">
                        <div class="btn btn-primary bg-grey text-white pl-3 pr-2 mt-1 ms-2" (click)="editUser(item)">
                            Edit
                        </div>

                    </td>

                </tr>

            </table>

        </div>

    </div>

</div>